#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp

build-stamp:
	dh_testdir
	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -f debian/custom-partitioner.postinst
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep  
	dh_install custom-partitioner bin
	dh_installdirs

#	install -m755 partitioner.sh debian/custom-partitioner.postinst

# Build architecture-independent files here.
binary-indep: install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: install

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install configure
